
#top-navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5vh;
  background-color: maroon;
  margin: 0;

}
section{ 
  display: flex;
  flex-direction: column;
  align-items: center;

}
body{
  background-color: maroon; margin: 10px; 
}
h1 {
  text-align: center;
  margin-top: 20vh;
  font-size: 90px;
  margin-right: 3px;
  margin-left: 3px;
}
h2 {
  font-size: 60px;
}

p{
  font-size: 25px;
  
}